.grafico{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.custon_grafico_bar{
    width: 35rem;
}
.custon_grafico_pie{
    width: 25rem;
}

.lista_usuario{
    display: flex;
    justify-content: center;
}

.lista_font{
    font-size: 16px;
}
