<div class="grafico">
  <app-chart-bar
    [labels]="graficBarLabels"
    [datasets]="graficBarDatasets"
    class="custon_grafico_bar"
  ></app-chart-bar>
  <app-chart-pie
    [labels]="graficPieLabels"
    [datasets]="graficPieDatasets"
    class="custon_grafico_pie"
  ></app-chart-pie>
</div>

<app-user-table
[customers]="customers"
(alterUser)="openDialog($event)"
></app-user-table>

<p-dialog
  header="Dados usuário"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-1">Escolha Status</span>
  <div [formGroup]="profileForm">
    <div class="flex items-center gap-2">
      <p-select
        [options]="status"
        placeholder="Selecione o status"
        formControlName="statusEnum"
        class="w-full md:w-56"
      ></p-select>
      <p-button label="Alterar" (click)="alteraStatusCurriculoUser()"></p-button>
      <p-button label="Cancelar" (click)="visible = false"></p-button>
    </div>
    <form class="form_space">
      <p><strong>Nome: </strong> {{ profileForm.get("name")?.value }}</p>
      <p><strong>CPF: </strong> {{ profileForm.get("cpf")?.value }}</p>
      <p><strong>Nascimento: </strong> {{ profileForm.get("nascimento")?.value | date: 'dd/MM/yyyy'}}</p>
      <p><strong>Email: </strong> {{ profileForm.get("email")?.value }}</p>
      <p><strong>Telefone: </strong> {{ profileForm.get("telefone")?.value }}</p>
      <p><strong>Função: </strong> {{ profileForm.get("funcao")?.value }}</p>
      <p><strong>Escolaridade: </strong>{{ profileForm.get("escolaridadeEnum")?.value }}</p>
      <table>
        <thead>
          <tr>
            <th class="pr-4">Competência</th> 
            <th class="pr-4">Nível</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsSnacks">
            <td class="pr-4">{{ item.get("competenciaEnum")?.value }}</td> 
            <td class="pr-4">{{ item.get("nivelEnum")?.value }}</td> 
          </tr>
        </tbody>
      </table>      
    </form>
  </div>
</p-dialog>
