<div class="card">
  <h1>Seus Dados</h1>
  <form [formGroup]="profileForm" class="form_space">
    <app-input controlName="name" label="Name"></app-input>
    <app-input controlName="cpf" label="cpf"></app-input>
    <app-input controlName="email" label="Email"></app-input>
    <app-input controlName="telefone" label="Telefone"></app-input>
    <app-input controlName="funcao" label="Funcao"></app-input>

    <div class="floatlabel_space">
      <p-floatlabel variant="in">
        <p-datepicker
          formControlName="nascimento"
          inputId="nascimento"
          showIcon
          dateFormat="dd/mm/yy"
          [showTime]="false"
          />
        <label for="nascimento">Nascimento</label>
      </p-floatlabel>
    </div>
    <div class="floatlabel_space">
      <p-select
        [options]="escolaridade"
        size="large"
        placeholder="Escolaridade"
        class="w-full md:w-56"
        formControlName="escolaridadeEnum"
      />
    </div>
    @for (item of itemsSnacks; track $index;let i = $index) {
    <div [formGroup]="item">
      <div class="flex_select floatlabel_space">
        <p-select
          [options]="competencias"
          placeholder="Competencia"
          class="w-full md:w-56"
          formControlName="competenciaEnum"
        />
        <p-select
          [options]="niveis"
          placeholder="Nivel"
          class="w-full md:w-100"
          formControlName="nivelEnum"
        />

        @if (isEdita == true) {
        <p-button
          (click)="removeSnack(i)"
          label="Remover"
          [raised]="true"
          severity="warn"
        />
        }
      </div>
    </div>
    } @if (isEdita == true) {
    <app-button
      class="floatlabel_space"
      [onClickFunction]="addSnacks.bind(this)"
      text="Add Competencia"
    />
    }

    <div class="floatlabel_space">
      <app-input controlName="statusEnum" label="Status" />
    </div>
  </form>

  @if (isEdita == false) {
  <app-button (click)="alteraDados()" text="Alterar" />
  }@else {
  <app-button (click)="comfirmar()" text="Cofirmar" />
  <app-button (click)="cancelar()" text="Cancelar" />

  }
</div>
