<div class="card">
  <h1>Seus Dados</h1>
  <form [formGroup]="profileForm" class="form_space">
    <app-input controlName="name" label="Name"></app-input>
    <app-input controlName="cpf" label="cpf"></app-input>
    <app-input controlName="email" label="Email"></app-input>
    <app-input controlName="telefone" label="Telefone"></app-input>
    <app-input controlName="funcao" label="Funcao"></app-input>

    <div class="floatlabel_space">
    <p-floatlabel variant="in">
      <p-datepicker
        formControlName="nascimento"
        inputId="nascinascimentomento"
        showIcon
        iconDisplay="input"
      />
      <label for="nascimento">Nascimento</label>
    </p-floatlabel>
  </div>

    <div class="floatlabel_space">
      <p-select
        [options]="escolaridade"   
        size="large"
        placeholder="Escolaridade"
        class="w-full md:w-56"
        formControlName="escolaridadeEnum"
        class="select_width"
      />
    </div>

    @for (item of itemsSnacks; track item; let i = $index) {
    <div [formGroup]="item">
      <div class="flex_select floatlabel_space">
        <p-select
          [options]="competencias"
          placeholder="Competencia"
          class="w-full md:w-56"
          formControlName="competenciaEnum"
          class="select_competencia_width"
        />
        <p-select
          [options]="niveis"
          placeholder="Nivel"
          class="w-full md:w-56"
          formControlName="nivelEnum"
          class="select_competencia_width"
        />

        <button (click)="removeSnack(i)" class="select_competencia_width">
          Remover
        </button>
      </div>
    </div>
    }

    <div class="floatlabel_space">
      <app-input controlName="statusEnum" label="Status"></app-input>

  
    </div>
  </form>

  @if (isEdita == false) {
    <app-button (click)="alteraDados()" text="Alterar"/>
  }@else {
    <app-button (click)="comfirmar()" text="Cofirmar"/>
  }
</div>
<!--  

-->