<div class="flex justify-content-center py-4">
  <p-table
    [value]="customers"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template #header>
      <tr>
        <th pSortableColumn="nome" style="width: 20%">
          Nome <p-sortIcon field="code" />
        </th>
        <th pSortableColumn="email" style="width: 20%">
          Email <p-sortIcon field="code" />
        </th>
        <th pSortableColumn="função" style="width: 20%">
          Função <p-sortIcon field="name" />
        </th>
        <th pSortableColumn="status" style="width: 20%">
          Status <p-sortIcon field="category" />
        </th>
        <th style="width: 20%">Alterar</th>
      </tr></ng-template
    >

    <ng-template #body let-customer let-i="rowIndex">
      <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.funcao }}</td>
        <td>{{ customer.status }}</td>
        <td>
          <p-button (click)="openDialog(i)" label="Alterar"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
